.row.top
  .col-sm-3
  .col-sm-6
    .padded
      %h1#title Present it !

      %p Upload a markdown file and we will make a slide deck out of it.
      %p You can then download it to your computer. Or share the link with your audience.

      .control-group
        .controls
          %span.btn.btn-success.fileinput-button
            %i.glyphicon.glyphicon-plus
            %span Choose file
            %input{type: "file", name: "file", 'data-url' => "/upload", multiple:"", upload:""}

  .col-sm-3

.row.bottom
  .col-sm-3
  .col-sm-6
    .padded
      .results
        %div{'ng-repeat' => "file in files"}
          Preparing {{file}}...

        .progress{'ng-show' => 'percentage'}
          .bar{'style' => 'width: {{percentage}}%'}

        .alert.alert-danger{'ng-show' => 'error'}
          {{error}}

        %div{'ng-show' => 'url'}
          %h2 Your presentation is ready
          %p<
            %a{'href' => '{{url}}'} Click here 
            to see your presentation.

          %br
          %p<
            Save this link for later or share it with your audience:
            %a{'href' => '{{url}}'}
              %span.permlink
                {{url}}

        %hr.footer-line

        .footer
          %p Built in January 2014
          %p
            View source on
            %a{'href' => 'https://github.com/matstc/present-it'}
              Github


  .col-sm-3
